@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

$beige: #b3b59c;
$white: #ffffff;
$black: #000000;

$font: 'Montserrat', sans-serif;
$rootsize: 20px;


#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0 1rem;
    padding: 0;
    background-color: $beige;
    font-family: 'Montserrat', sans-serif;
}

header {
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        label {
            margin-right: 0.5rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }
    }
}

#search {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#searchbutton {
    margin-left: 0.5rem;
    background-color: $black;
    border: none;
    color: $white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

 
.book-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .book-title {
        margin-top: 1.5rem;
        border: 3px solid $white;
        padding: 1rem;
        max-width: 370px;

        ul {
            padding: 0;
            list-style-type: none;
        }

        a {
            text-decoration: none;
            background-color: $black;
            color: $white;
            cursor: pointer;
            padding: 0.5rem;
            font-size: 0.85rem;
        }
    }
}

footer {
    margin-top: 3rem;
    font-size: 0.8rem;
}

@media only screen and (min-width: 800px) {

    header {
        form {
            flex-direction: row;
        }
    }

    .book-title {
     margin: 0.5rem;
     min-width: 370px;
     min-height: 565px;
    }

 }